<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="Fragments/general :: head"></div>

<head>
    <link rel="stylesheet" th:href="@{/css/conferma.css}"/>
</head>

<body>
<nav th:replace="Fragments/general :: navbar"></nav>

<div class="container conferma-container">
    <h1 class="conferma-titolo">Prenotazione Confermata</h1>
    <p class="conferma-testo">Grazie per aver effettuato la prenotazione!</p>
    <p class="conferma-testo">Il tuo numero di prenotazione è: <strong th:text="${prenotazione.id}"></strong></p>
    <div class="btn-container">
        <a href="/" class="btn btn-primary conferma-btn">Torna alla Home</a>
    </div>
</div>

</body>

</html>
