<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="Fragments/general :: head"></div>

<head>
    <link rel="stylesheet" th:href="@{/css/prenotaOra.css}"/>
</head>

<body>
<nav th:replace="Fragments/general :: navbar"></nav>

<div class="formContainer">

    <form method="post" id="dateForm" th:action="@{/camere/disponibiliPerPrenotazione}">
        <label for="checkindate">Check in:
            <input type="date" id="checkindate" name="checkindate" required
                   th:value="${checkIn != null ? checkIn : ''}"/>
        </label>
        <label for="checkoutdate">Check out:
            <input type="date" id="checkoutdate" name="checkoutdate" required
                   th:value="${checkOut != null ? checkOut : ''}"/>
        </label>
        <label for="numOspiti">Numero di ospiti:
            <input type="number" id="numOspiti" name="numOspiti" min="1" th:max="${maxOspiti}" required
                   th:value="${numeroOspiti != null ? numeroOspiti : ''}"/>
        </label>
        <input type="submit" value="Verifica disponibilità">
    </form>

    <div id="errorDiv">
        <span id="generalError" style="color: red" th:text="${generalError}"></span>
    </div>
</div>

<div class="cameraContainer" th:each="camera : ${camere}">
    <div class="immagini">
        <img th:src="@{'/' + ${camera.getImmagine()}}" alt="Immagine camera">
    </div>
    <div class="info">
        <h1>Tipologia camera:</h1><span th:text="${camera.getTipo()}"></span>
        <h1>Numero massimo di ospiti:</h1><span th:text="${camera.getNumeroMaxOspiti()}"></span>
        <h1>Costo per notte:</h1><span th:text="${camera.getCosto()}"></span>
        <form method="post" th:action="@{/prenotazione/finalizza}" id="addCartForm" th:if="${ricercaEffettuata}">
            <input type="hidden" name="numeroCamera" th:value="${camera.getId()}"/>
            <input type="submit" value="Prenota ora"/>
        </form>
    </div>
</div>

<div class="avvisoCamereContainer" th:if="${camere.isEmpty() || camere == null}">
    <h1 class="avvisoCamere">La vostra ricerca non ha prodotto risultati.</h1>
    <h1 class="avvisoCamere">Non sono disponibili camere che soddisfano i vostri criteri di ricerca.</h1>
</div>

<script th:src="@{/Scripts/prenotaOra.js}"></script>
</body>
</html>