<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:replace="Fragments/general :: head"></div>

<head>
    <link rel="stylesheet" th:href="@{/css/prenotaOra.css}"/>
</head>

<body>
<nav th:replace="Fragments/general :: navbar"></nav>

<div class="formContainer">

    <form method="post" id="dateForm" th:action="@{/camere/disponibiliPerPrenotazione}">
        <label for="checkindate">Check in:
            <input type="date" id="checkindate" name="checkindate" required
                   th:value="${checkIn != null ? checkIn : ''}"/>
        </label>
        <label for="checkoutdate">Check out:
            <input type="date" id="checkoutdate" name="checkoutdate" required
                   th:value="${checkOut != null ? checkOut : ''}"/>
        </label>
        <label for="numOspiti">Numero di ospiti:
            <input type="number" id="numOspiti" name="numOspiti" min="1" th:max="${maxOspiti}" required
                   th:value="${numeroOspiti != null ? numeroOspiti : ''}"/>
        </label>
        <input type="submit" value="Verifica disponibilità">
    </form>

    <div id="errorDiv">
        <span id="generalError" style="color: red" th:text="${generalError}"></span>
    </div>
</div>

<div class="cameraContainer" th:each="camera : ${camere}">
    <div class="immagini">
        <img th:src="@{'/' + ${camera.getImmagine()}}" alt="Immagine camera">
    </div>
    <div class="info">
        <h1>Numero camera:</h1><span th:text="${camera.getNumero()}"></span>
        <h1>Tipologia camera:</h1><span th:text="${camera.getTipo()}"></span>
        <h1>Numero massimo di ospiti:</h1><span th:text="${camera.getNumeroMaxOspiti()}"></span>
        <h1>Costo per notte:</h1><span th:text="${camera.getCosto()}"></span>

        <!-- Se ricerca effettuata e utente loggato -->
        <button type="button" class="prenotaOra"
                th:if="${ricercaEffettuata} and ${utente != null} and ${utente != null ? utente.getRuolo() == T(it.unisa.hotelcampus.model.entity.Utente.Ruolo).CLIENTE : false}"
                th:onclick="mostraModale([[${camera.getId()}]], [[${camera.getNumero()}]], [[${camera.getCosto()}]])">
            Prenota ora
        </button>

        <!-- Se ricerca effettuata ma utente non loggato -->
        <button type="button" class="prenotaOra" onclick="location.href='/utenti/login'"
                th:if="${ricercaEffettuata} and ${utente == null}">
            Prenota ora
        </button>

        <button type="button" class="prenotaOra"
                th:if="${ricercaEffettuata} and ${utente != null} and ${utente != null ? utente.getRuolo() != T(it.unisa.hotelcampus.model.entity.Utente.Ruolo).CLIENTE : false}"
                onclick="alert('Il tuo ruolo non consente la finalizzazione di una prenotazione')">

            Prenota ora
        </button>

    </div>
</div>

<div class="avvisoCamereContainer" th:if="${camere.isEmpty() || camere == null}">
    <h1 class="avvisoCamere">La vostra ricerca non ha prodotto risultati.</h1>
    <h1 class="avvisoCamere">Non sono disponibili camere che soddisfano i vostri criteri di ricerca.</h1>
</div>


<div id="modale">
    <div class="contenutoModale">
        <span class="close" onclick="chiudiModale()">&times;</span>
        <form th:action="@{/prenotazioni/riepilogo}" method="post">
            <span id="cameraSelezionata">Camera selezionata numero: costo:</span>
            <input type="hidden" id="modalIdCamera" th:name="cameraId"/>
            <input type="hidden" id="modalNumeroOspiti" th:name="numeroOspiti"/>
            <input type="hidden" id="modalNumeroCamera" th:name="numeroCamera"/>
            <input type="hidden" id="modalImportoCamera" th:name="importoCamera"/>
            <input type="hidden" id="modalCheckIn" th:name="checkIn"/>
            <input type="hidden" id="modalCheckOut" th:name="checkOut"/>
            <table class="table">
                <thead>
                <tr>
                    <th>Nome Servizio</th>
                    <th>Costo a Persona</th>
                    <th>Quantità</th>
                </tr>
                </thead>
                <tbody id="serviceModalTbody">
                <!-- Righe dinamiche -->
                </tbody>
            </table>

            <div class="totale-container">
                <h3>Totale: <span id="modalTotale">0.00</span> €</h3>
            </div>

            <button type="submit">Mostra Riepilogo</button>
        </form>
    </div>
</div>


<script th:src="@{/Scripts/prenotaOra.js}"></script>
</body>
</html>